{% extends "base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
    {% if user.is_authenticated %}
    <h3> Hola {{ user.get_full_name }} </h3>
    <p>
      <a href="{% url 'perfil' user.pk %}">Mi Perfil</a>
    </p>
    <p>
      <a href="{% url 'logout' %}">Cierra Sesion</a>
    </p>
    <p>
      <a href="{% url 'menu-detail' %}">Compra un Plan Nutricional</a>
    </p>
    <p>
      <a href="{% url 'menu-list' %}">Mira tus planes nutricionales</a>
    </p>
    <p>
      <a href="{% url 'last-menu-cliente' user.pk %}">Mira tu último plan comprado</a>
    </p>
    {% else %}
    <h3> Hola </h3>
    <p>
      <a href="{% url 'login' %}">Inicia Sesion</a> o
      <a href="{% url 'register' %}">Registrate</a>
    </p>
    {% endif %}

&nbsp
{% endblock %}