{% extends "base.html" %}
{% block content %}
    <hr>
    <h3 class="title"> Hola {{ object.profile.user.get_full_name}} </h3>
    <h3 class="title"> Menú comprado en {{ object.fecha_creacion}} </h3>
    <ul>
      <li><strong>Tipo de Menú:</strong> {{ object.get_alimentacion_display }} </li>
      <li><strong>Fecha de Fin:</strong> {{ object.fecha_fin}}</li>
      <li><strong>Días de duración:</strong> {{ object.calcular_dias }}</li>
      <li><strong>Días restantes:</strong> {{ object.dias_restantes }}</li>
      <li><strong>Estado del Plan:</strong> {{ object.estado }}</li>
      <li><strong>Precio del Plan:</strong> {{ object.precio }} $</li>
      <li><strong>Objetivo del Plan:</strong> {{ object.profile.get_objetivo_display}}</li>
      <li><strong>Menu del Día:</strong></li>
      <li><strong>Desayuno:</strong> <a href="{% url 'plato-detail' object.desayuno.pk%}">{{ object.desayuno.nombre}} | {{ object.desayuno.calorias}} calorías</a></li>
      <li><strong>Media Mañana:</strong> <a href="{% url 'plato-detail' object.media_mañana.pk%}">{{ object.media_mañana.nombre}} | {{ object.media_mañana.calorias}} calorías</a></li>
      <li><strong>Comida:</strong> <a href="{% url 'plato-detail' object.comida.pk%}">{{ object.comida.nombre}} | {{ object.comida.calorias}} calorías</a></li>
      <li><strong>Merienda:</strong> <a href="{% url 'plato-detail' object.merienda.pk%}">{{ object.merienda.nombre}} | {{ object.merienda.calorias}} calorías</a></li>
      <li><strong>Cena:</strong> <a href="{% url 'plato-detail' object.cena.pk%}">{{ object.cena.nombre}} | {{ object.cena.calorias}} calorías</a></li>
      <li><strong>Recena:</strong> <a href="{% url 'plato-detail' object.recena.pk%}">{{ object.recena.nombre}} | {{ object.recena.calorias}} calorías</a></li>
    </ul>
    <hr>
    <ul>
      <li><a href="{% url 'menu-list' %}">Ver Menus Comprados</a></li>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
{% endblock %}
