{% extends "base.html" %}
{% block content %}
    <hr>
<center>
  <h3 class="title"> Hola {{ object.profile.user.get_full_name}} </h3>
    <h3 class="title"> Menú comprado en {{ object.fecha_creacion}} </h3>
</center>
<hr>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Fecha de Fin</p>
      <p class="title">{{ object.fecha_fin}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Días de duración</p>
      <p class="title">{{ object.calcular_dias }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Días restantes</p>
      <p class="title">{{ object.dias_restantes }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Precio del plan</p>
      <p class="title">{{ object.precio }} $</p>
    </div>
  </div>
</nav>
<hr>


<center>
<h4 class="title is-4">Tipo de Menú: {{ object.get_alimentacion_display }} </h4>
<h4 class="title is-4">Objetivo del Plan: {{ object.profile.get_objetivo_display}}</h4>
</center>
<hr>
<center><h4 class="title is-4">Tu Menu del Día</h4></center>
<hr>
<div class="columns">
  <div class="column">
    <center><strong>Desayuno</strong> <br>
    <a href="{% url 'plato-detail' object.desayuno.pk%}">{{ object.desayuno.nombre}} <br> {{ object.desayuno.calorias}} calorías</a></center>
  </div>
  <div class="column">
    <center><strong>Media Mañana</strong><br>
    <a href="{% url 'plato-detail' object.media_mañana.pk%}">{{ object.media_mañana.nombre}} <br> {{ object.media_mañana.calorias}} calorías</a></center>
  </div>
  <div class="column">
    <center><strong>Comida</strong><br>
    <a href="{% url 'plato-detail' object.comida.pk%}">{{ object.comida.nombre}} <br> {{ object.comida.calorias}} calorías</a></center>
  </div>
  <div class="column">
    <center><strong>Merienda</strong><br>
    <a href="{% url 'plato-detail' object.merienda.pk%}">{{ object.merienda.nombre}} <br> {{ object.merienda.calorias}} calorías</a></center>
  </div>
  <div class="column">
    <center><strong>Cena</strong><br>
    <a href="{% url 'plato-detail' object.cena.pk%}">{{ object.cena.nombre}} <br> {{ object.cena.calorias}} calorías</a></center>
  </div>
  <div class="column">
    <center><strong>Recena</strong><br>
    <a href="{% url 'plato-detail' object.recena.pk%}">{{ object.recena.nombre}} <br> {{ object.recena.calorias}} calorías</a></center>
  </div>
</div>



    <hr>
    <ul>
      <li><a href="{% url 'menu-list' %}">Ver Menus Comprados</a></li>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
{% endblock %}
