{% extends "base.html" %}
{% block content %}
        {% if user.is_authenticated %}
            <h3> Hola {{ user.get_full_namee }} </h3>
            <h3> Menus Comprados </h3>
            <div class="content">
                {%for Menu in  object_list%}
                <li>
                    <a href="{%url 'menu-cliente' Menu.pk %}">{{Menu.fecha_creacion}} </a>
                </li>
                {% empty %}
                <div class="content">
                    &nbsp
                    <h6>No tiene menus comprados</h6>
                </div>
                {%endfor%}
            </div>
            {% else %}
            <h3> Hola para ver tus menus debes estar registrado en Nutri+</h3>
            <div class="container">
                <div class="columns is-centered">
                  <div class="column is-half">
                    <a class="button is-link is-centered" href="{% url 'login' %}">Inicia Sesion</a>
                    <a class="button is-link" href="{% url 'register' %}">Registrate</a>
                  </div>
                </div>
            </div>
        {% endif %}
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
        </ul>
{% endblock %}