{% extends "base.html" %}
{% block content %}
<center>
<p class="title is-2">{{ object.nombre }}</p>
<p class="subtitle is-4"><strong>Categoría:</strong>  {{ object.categoria }}</p>
</center>
<img src="{{ object.image.url }}" alt="No hay imagen disponible">

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Calorías</p>
      <p class="title">{{ object.calorias }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Proteínas</p>
      <p class="title">{{ object.proteinas }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Grasas</p>
      <p class="title">{{ object.grasas }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Carbohidratos</p>
      <p class="title">{{ object.carbos }}</p>
    </div>
  </div>
</nav>

    <ul>
      <li><strong>Descripcion:</strong> {{ object.descripcion }}</li>
      <li><strong>Ingredientes:</strong> {{ object.ingredientes }}</li>
      <li><strong>Receta:</strong> {{ object.receta }}</li>
      <li><strong>Tipo de Plato:</strong> {{ object.get_alimentacion_display }}</li>
      <li><strong>Proveedor: </strong>{{object.proveedor}}</a></li>
    </ul>

    <ul>
      <a href="javascript:history.back()"> Volver Atrás</a>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
{% endblock %}