{% extends "base.html" %}
{% block content %}
    <h1 class="title">{{ object.nombre }}</h1>
{{ object.image }}
    <ul>
      <li><strong>Categoría:</strong> {{ object.categoria }}  </li>
      <li><strong>Calorías:</strong> {{ object.calorias }}  </li>
      <li><strong>Proteínas:</strong> {{ object.proteinas }}  </li>
      <li><strong>Grasas:</strong> {{ object.grasas }}  </li>
      <li><strong>Carbohidratos:</strong> {{ object.carbos }}  </li>
      <li><strong>Descripcion:</strong> {{ object.descripcion }}</li>
      <li><strong>Ingredientes:</strong> {{ object.ingredientes }}</li>
      <li><strong>Receta:</strong> {{ object.receta }}</li>
      <li><strong>Tipo de Plato:</strong> {{ object.get_alimentacion_display }}</li>
      <li><strong>Proveedor: </strong>{{object.proveedor}}</a></li>
    </ul>
      &nbsp
&nbsp
    <ul>
      <a href="javascript:history.back()"> Volver Atrás</a>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
{% endblock %}